<section class="about-company">
  <div class="container">
    <div class="images">
      <!-- <img src="" alt="">
        <img src="" alt="">
        <img src="" alt=""> -->
    </div>
    <div>
      <h2 class="section-heading"></h2>
      <p class="about-desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
      <button type="button" class="about-btn">Читать</button>
    </div>
  </div>
</section>
