<footer class="footer">
  <div class="container footer-cont">
    <div class="footer-cover">
      <div>
        <a href="./index.html"
          ><img
            class="brand-logo-footer"
            srcset="./images/logof.png 1x, ./images/logof@2x.png 2x"
            src="./images/logof.png"
            alt="company logo"
        /></a>
      </div>
      <div class="footer-info">
        <h3 class="footer-heading">Информация</h3>
        <ul class="info-list">
          <li class="info-list-item">
            <a href="" class="info-list-item-text">Главная</a>
          </li>
          <li class="info-list-item">
            <a href="" class="info-list-item-text">Галерея</a>
          </li>
          <li class="info-list-item">
            <a href="" class="info-list-item-text">Проекты</a>
          </li>
          <li class="info-list-item">
            <a href="" class="info-list-item-text">Сертификаты</a>
          </li>
          <li class="info-list-item last">
            <a href="" class="info-list-item-text">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer-contacts">
        <h3 class="footer-heading">Контакты</h3>
        <ul class="fcontacts-list">
          <li class="fcontacts-list-item">
            <svg class="icon-location">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <p class="fcontacts-list-item-text">
              100000, Республика Казахстан, г. Караганда, ул. Телевизионная 10
            </p>
          </li>
          <li class="fcontacts-list-item">
            <svg class="icon-phone">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <p class="fcontacts-list-item-text">+38 (000) 000 00 00</p>
          </li>
          <li class="fcontacts-list-item last">
            <svg class="icon-mail">
              <use href="./images/icons.svg#icon-mail"></use>
            </svg>
            <p class="fcontacts-list-item-text">mail@gmail.com</p>
          </li>
        </ul>
      </div>
      <div class="socials">
        <h3 class="footer-heading">Социальные сети</h3>
        <ul class="socials-list">
          <li class="social-list-item">
            <a href="" class="social-list-item-link"
              ><svg class="icon-facebook iconn">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-list-item">
            <a href="" class="social-list-item-link"
              ><svg class="icon-twitter iconn">
                <use href="./images/icons.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="social-list-item">
            <a href="" class="social-list-item-link"
              ><svg class="icon-linked iconn">
                <use href="./images/icons.svg#icon-linked"></use></svg
            ></a>
          </li>
          <li class="social-list-item">
            <a href="" class="social-list-item-link"
              ><svg class="icon-pinterest iconn">
                <use href="./images/icons.svg#icon-pinterest"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="line"></div>
    <p class="confidence">© 2019 Digital Project. Все права защищены.</p>
  </div>
</footer>
