<footer class="footer">
  <div class="container footer-cont">
    <div class="logo-footer">
      <div>
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </div>
      <div class="footer-info">
        <h3 class="footer-heading">Информация</h3>
        <ul class="info-list">
          <li class="info-list-item">Главная</li>
          <li class="info-list-item">Галерея</li>
          <li class="info-list-item">Проекты</li>
          <li class="info-list-item">Сертификаты</li>
          <li class="info-list-item">Контакты</li>
        </ul>
      </div>
      <div class="footer-contacts">
        <h3 class="footer-heading">Контакты</h3>
        <ul class="fcontacts-list">
          <li class="fcontacts-list-item">
            <svg class="icon-location">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <p>
              100000, Республика Казахстан, г. Караганда, ул. Телевизионная 10
            </p>
          </li>
          <li class="fcontacts-list-item">
            <svg class="icon-phone">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <p>+38 (000) 000 00 00</p>
          </li>
          <li class="fcontacts-list-item">
            <svg class="icon-mail">
              <use href="./images/icons.svg#icon-mail"></use>
            </svg>
            <p>mail@gmail.com</p>
          </li>
        </ul>
      </div>
      <div class="socials">
        <h3 class="footer-heading">Социальные сети</h3>
        <ul class="socials-list">
          <li class="social-list-item">
            <svg class="icon-facebook">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="social-list-item">
            <svg class="icon-twitter">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="social-list-item">
            <svg class="icon-linked">
              <use href="./images/icons.svg#icon-linked"></use>
            </svg>
          </li>
          <li class="social-list-item">
            <svg class="icon-pinterest">
              <use href="./images/icons.svg#icon-pinterest"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <p>© 2019 Digital Project. Все права защищены.</p>
  </div>
</footer>
