<header class="header">
  <div class="container header-cont">
    <a href="./index.html"
      ><img
        class="brand-logo"
        srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
        src="./images/logo.png"
        alt="company logo"
    /></a>
    <nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="" class="nav-anchor">Главная</a></li>
        <li class="nav-list-item"><a href="" class="nav-anchor">Галерея</a></li>
        <li class="nav-list-item"><a href="" class="nav-anchor">Проекты</a></li>
        <li class="nav-list-item">
          <a href="" class="nav-anchor">Сертификаты</a>
        </li>
        <li class="nav-list-item">
          <a href="" class="nav-anchor">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
