<header class="header">
  <div class="container">
    <!-- <img src="" alt="company logo" /> -->
    <nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="" class="nav-anchor">Главная</a></li>
        <li class="nav-list-item"><a href="" class="nav-anchor">Галерея</a></li>
        <li class="nav-list-item"><a href="" class="nav-anchor">Проекты</a></li>
        <li class="nav-list-item">
          <a href="" class="nav-anchor">Сертификаты</a>
        </li>
        <li class="nav-list-item">
          <a href="" class="nav-anchor">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
