<section class="hero">
  <div class="container">
    <div class="hero-left">
      <h1>Project<span>Home</span></h1>
      <div class="hero-btns">
        <button type="button" class="b-left"></button>
        <button type="button" class="b-right"></button>
      </div>
      <div class="hero-counter"><span>1</span><span>2</span></div>
      <!-- Между ними слеш через before/after -->
    </div>
    <div class="hero-right">
      <!-- <img src="" alt="hero image" /> -->
      <button type="button" class="hero-img-btn">Взглянуть</button>
      <!-- стрелка before absolute -->
    </div>
  </div>
</section>
