<section class="section hero">
  <div class="container hero-cont">
    <div class="hero-left">
      <h1 class="hero-title">
        Project <br />
        <span class="hero-title-black">Home</span>
      </h1>
      <div class="hero-btns">
        <button type="button" class="b-left">
          <svg class="arrow-left">
            <use href="./images/icons.svg#icon-left"></use>
          </svg>
        </button>
        <button type="button" class="b-left">
          <svg class="arrow-right">
            <use href="./images/icons.svg#icon-right"></use>
          </svg>
        </button>
      </div>
      <div class="hero-counter">
        <span class="small s-o">01</span>
        <span class="small">02</span>
      </div>
    </div>
    <div class="hero-right">
      <!-- <a href="" class="hero-cover"> -->
      <img
        class="hero-img"
        srcset="./images/hero.jpg 1x, ./images/hero@2x.jpg 2x"
        src="./images/hero.jpg"
        alt="hero image"
      />
      <a href="" class="hero-img-btn">
        <span class="hero-btn-text">Взглянуть</span>
        <svg class="arrow-right">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </a>
      <!-- </a> -->
    </div>
  </div>
</section>
