<section class="section">
  <div class="container">
    <h2 class="section-heading">Основные задачи</h2>
    <div>
      <!-- <img src="" alt=""> -->
      <p class="main-text">
        Создание комфортных условий и повышение качества обслуживания клиентов
      </p>
    </div>
    <div>
      <!-- <img src="" alt=""> -->
      <p class="main-text">
        Постоянно совершенствовать качество предоставляемых услуг путем обучения
        персонала, закупки нового оборудования и усиленной рекламы на рынке
      </p>
    </div>
  </div>
</section>
