<section class="section">
  <div class="container">
    <h2 class="section-heading">Основные задачи</h2>
    <div>
      <svg class="main-one">
        <use href="./images/icons.svg#icon-one"></use>
      </svg>
      <p class="main-text">
        Создание комфортных условий и повышение качества обслуживания клиентов
      </p>
    </div>
    <div>
      <svg class="main-two">
        <use href="./images/icons.svg#icon-two"></use>
      </svg>
      <p class="main-text">
        Постоянно совершенствовать качество предоставляемых услуг путем обучения
        персонала, закупки нового оборудования и усиленной рекламы на рынке
      </p>
    </div>
  </div>
</section>
