<section class="section">
  <div class="container">
    <h2 class="section-heading task">Основные задачи</h2>
    <ul class="task-list">
      <li class="task-list-item first">
        <!-- <svg class="main-one">
          <use href="./images/icons.svg#icon-one"></use>
        </svg> -->
        <span class="big-num">1</span>
        <p class="main-text first">
          Создание комфортных условий и повышение качества обслуживания клиентов
        </p>
      </li>
      <li class="task-list-item second">
        <!-- <svg class="main-two">
          <use href="./images/icons.svg#icon-two"></use>
        </svg> -->
        <span class="big-num">2</span>
        <p class="main-text second">
          Постоянно совершенствовать качество предоставляемых услуг путем
          обучения персонала, закупки нового оборудования и усиленной рекламы на
          рынке
        </p>
      </li>
    </ul>
  </div>
</section>
