<section class="section" id="projects">
  <div class="container">
    <h2 class="section-heading project">Наши проекты</h2>
    <div class="projects">
      <ul class="project-gallery">
        <li class="project-gallery-item">
          <div class="project-card">
            <h3 class="project-name">Досуговый центр</h3>
            <a href="" class="project-a">
              <span class="project-link">Подробнее</span>
              <svg class="arrow-right white">
                <use href="./images/icons.svg#icon-right"></use>
              </svg>
            </a>
          </div>
          <img
            class="project-img"
            srcset="./images/project1.jpg 1x, ./images/project1@2x.jpg 2x"
            src="./images/project1.jpg"
            alt="project1 image"
          />
        </li>

        <li class="project-gallery-item">
          <div class="project-card">
            <h3 class="project-name">Торговый центр</h3>
            <a href="" class="project-a"
              ><span class="project-link">Подробнее</span>
              <svg class="arrow-right white">
                <use href="./images/icons.svg#icon-right"></use>
              </svg>
            </a>
          </div>
          <img
            class="project-img"
            srcset="./images/project2.jpg 1x, ./images/project2@2x.jpg 2x"
            src="./images/project2.jpg"
            alt="project2 image"
          />
        </li>
        <li class="project-gallery-item">
          <div class="project-card third">
            <h3 class="project-name">Корт</h3>
            <a href="" class="project-a"
              ><span class="project-link">Подробнее</span>
              <svg class="arrow-right white">
                <use href="./images/icons.svg#icon-right"></use>
              </svg>
            </a>
          </div>
          <img
            class="project-img"
            srcset="./images/project3.jpg 1x, ./images/project3@2x.jpg 2x"
            src="./images/project3.jpg"
            alt="project3 image"
          />
        </li>
        <li class="project-gallery-item">
          <div class="project-card">
            <h3 class="project-name">Жилой комплекс</h3>
            <a href="" class="project-a"
              ><span class="project-link">Подробнее</span>
              <svg class="arrow-right white">
                <use href="./images/icons.svg#icon-right"></use>
              </svg>
            </a>
          </div>
          <img
            class="project-img"
            srcset="./images/project4.jpg 1x, ./images/project4@2x.jpg 2x"
            src="./images/project4.jpg"
            alt="project3 image"
          />
        </li>
        <li class="project-gallery-item">
          <div class="project-card">
            <h3 class="project-name">Театр</h3>
            <a href="" class="project-a"
              ><span class="project-link">Подробнее</span>
              <svg class="arrow-right white">
                <use href="./images/icons.svg#icon-right"></use>
              </svg>
            </a>
          </div>
          <img
            class="project-img"
            srcset="./images/project5.jpg 1x, ./images/project5@2x.jpg 2x"
            src="./images/project5.jpg"
            alt="project5 image"
          />
        </li>
      </ul>
      <a href="" class="all-projects-link"
        ><span class="all-projects">Все проекты</span>
        <svg class="arrow-right white">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
