<section class="section">
  <div class="container">
    <h2 class="section-heading">Наши проекты</h2>
    <div class="projects">
      <div class="project-card">
        <h3 class="project-name">Досуговый центр</h3>
        <a href="">Подробнее</a>
      </div>
      <ul class="project-gallery">
        <li class="project-gallery-item">
          <!-- <img src="" alt="" class="project-pic" /> -->
        </li>
        <li class="project-gallery-item">
          <!-- <img src="" alt="" class="project-pic" /> -->
        </li>
        <li class="project-gallery-item">
          <!-- <img src="" alt="" class="project-pic" /> -->
        </li>
        <li class="project-gallery-item">
          <!-- <img src="" alt="" class="project-pic" /> -->
        </li>
      </ul>
      <a href="">Все проекты</a>
    </div>
  </div>
</section>
