.container {
  margin: 0 auto;
  // padding: 0 135px;
  max-width: 1170px;
}
.section,
.header,
.footer {
  padding-right: 135px;
  padding-left: 135px;

  margin: 0 auto;
}
.section {
  margin-bottom: 120px;
}
