@import url('https://fonts.cdnfonts.com/css/open-sans');
.footer {
  background-color: #2c2c2c;
  color: #fff;
  position: relative;
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 347px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-cover {
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  //   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.brand-logo-footer {
  margin-right: 100px;
  width: 145px;
}
.footer-heading {
  font-family: TT Hoves;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}
.info-list-item {
  margin-bottom: 16px;
}
.info-list-item.last {
  margin: 0;
}
.info-list-item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: 0.42px;
  position: relative;
}
.info-list-item-text::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}
.info-list-item-text:hover::after {
  opacity: 1;
}
.footer-info {
  margin-right: 150px;
}
.fcontacts-list {
  margin-right: 70px;
}
.fcontacts-list-item {
  display: flex;
  gap: 20px;
  max-width: 314px;
  margin-bottom: 30px;
}
.fcontacts-list-item.last {
  margin-bottom: 0;
}
.icon-location {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  width: 16px;
  height: 22px;
}
.icon-phone {
  width: 16px;
  height: 16px;
  fill: #fff;
  //   stroke: #fff;
  //   stroke-width: 1px;
}
.icon-mail {
  width: 16px;
  height: 11px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
}
.fcontacts-list-item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: 0.42px;
}
.socials-list {
  display: flex;
  gap: 40px;
}
.icon-facebook {
  width: 10px;
  height: 19px;
  fill: #fff;
}
.icon-twitter {
  width: 22px;
  height: 17px;
  fill: #fff;
}
.icon-linked {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.icon-pinterest {
  width: 14px;
  height: 19px;
  fill: #fff;
}
.iconn:hover,
.iconn:focus {
  scale: (1.2);
}
.confidence {
  margin: 0 auto;
  padding: 24px 0;
  color: rgba(200, 200, 200, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.83; /* 183.333% */
}
.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
