.hero-cont {
  display: flex;
  justify-content: space-between;
}
// left side
.hero-title {
  color: $heading-color;
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 1; /* 100% */
  margin-top: 336px;
  margin-bottom: 90px;
}
.hero-title-black {
  color: $dark-color;
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}
.b-left {
  width: 53px;
  height: 53px;
  border: 1px solid $light-secondary;
  background-color: $light-color;
  margin-right: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.b-left:hover,
.b-left:focus {
  width: 53px;
  height: 53px;
  border: 1px solid $light-secondary;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-btns {
  display: flex;
  margin-bottom: 94px;
}
.hero-counter {
  display: flex;
  position: relative;
}
.small {
  color: $heading-color;
  font-family: TT Hoves;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.s-o {
  margin-right: 83px;
}
.s-o::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50px;
  width: 44px;
  height: 2px;
  background-color: $heading-color;
  transform-origin: bottom left; /* Встановлюємо точку трансформації у нижньому лівому куті */
  transform: rotate(-45deg); /* Обертаємо смужку на 45 градусів */
}
// right side
.hero-right {
  position: relative;
}
.hero-img {
  width: 770px;
  height: 829px;
}
.hero-img-btn {
  width: 222px;
  height: 71px;
  position: absolute;
  display: flex;
  padding-left: 50px;
  align-items: center;
  background-color: $light-color;
  border: 1px solid $light-color;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
  z-index: 5;
}
.hero-img-btn:hover,
.hero-img-btn:focus {
  background-color: #f9f9f9;
  border: 1px solid $light-secondary;
  opacity: 1;
}
.hero-img:hover + .hero-img-btn,
.hero-img:focus + .hero-img-btn {
  opacity: 1;
}
.hero-btn-text {
  font-family: TT Hoves;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-right: 12px;
  z-index: 2;
}
